* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Manrope';
  src: url(../fonts/Manrope-Bold.ttf);
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: #202733;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container {
  width: 500px;
  min-height: 332px;
  background: #313A48;
  -webkit-box-shadow: 30px 50px 80px rgba(0, 0, 0, 0.100202);
          box-shadow: 30px 50px 80px rgba(0, 0, 0, 0.100202);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

body .container h2 {
  margin: 0 auto;
  color: #53FFAA;
  margin-top: 48px;
  font-weight: 800;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 4.08571px;
}

body .container p {
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.3px;
  color: #CEE3E9;
  margin: 24px 48px 40px 48px;
  min-height: 150px;
  margin-bottom: 30px;
}

body .container .lines {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

body .container .lines .left, body .container .lines .right {
  max-width: 200px;
  min-width: 150px;
  height: 1px;
  background-color: #4F5D74;
}

body .container .lines .center {
  width: 20px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
  margin-top: -7px;
}

body .container .lines .center div {
  width: 6px;
  height: 16px;
  background: #CEE3E9;
  border-radius: 3px;
}

body .container .refresh {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  background-color: #53FFAA;
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: -30px;
  margin-top: 30px;
}

body .container .refresh:active {
  -webkit-box-shadow: 0px 0px 30px #53FFAA;
          box-shadow: 0px 0px 30px #53FFAA;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

body .container .refresh .refresh-div {
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 13px;
}

body .container .refresh .refresh-div img {
  width: 24px;
  height: 24px;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .container {
    width: 200px;
    font-family: 'Manrope';
    margin: 0 20px;
    margin-top: 20px;
  }
  .container h2 {
    font-size: 11px;
    line-height: 15px;
    text-align: center;
  }
  .container p {
    font-size: 24px;
    line-height: 33px;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */