* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Manrope';
    src: url(../fonts/Manrope-Bold.ttf);
}
body {
    font-family: 'Manrope', sans-serif;
    background-color: #202733;
    .container {
        max-width: 540px;
        height: 332px;
        background-color: #313A48;
    }
}